@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Josefin+Sans&family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}


/* Global color  */

:root {
    --main-color: red;
    --main-color-op: rgb(201, 0, 0);
    --bg-color: black;
    --text-color: white;
}

body {
    background-color: var(--bg-color);
    font-family: 'Gentium Plus', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}


/* custom scroll bar  */

html::-webkit-scrollbar {
    background-color: var(--bg-color);
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 50px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color-op);
}


/* menu nav  */


/* header section  */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 10px 80px;
    position: sticky;
    top: 0;
    transition: 1s ease;
    background-color: var(--bg-color);
    z-index: 1;
    border-bottom: 0.2px solid var(--bg-color);
}

.logo {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.logo i {
    margin-right: 8px;
    color: var(--main-color);
    font-size: 1.5rem;
}


/* nav-bar */

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
}

.nav-bar li {
    position: relative;
}

.nav-bar li a {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.nav-bar a::after {
    content: "";
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: 0.5s ease-in-out;
    background-color: var(--main-color);
}

.nav-bar a:hover::after,
.nav-bar .active::after {
    width: 100%;
}

.btn {
    display: flex;
    align-items: center;
}

.btn button,
.contact form .btn {
    background-color: var(--main-color-op);
    padding: 0.7rem 1rem;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 300;
    border: none;
}

.btn button:hover,
.contact form .btn:hover {
    background-color: var(--main-color);
}


/* cover section  */

.container {
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
}

.home-text {
    color: var(--text-color);
    margin-left: 150px;
    margin-top: 250px;
}

.home-text span {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
}

.home-text h1 {
    color: var(--main-color-op);
    font-weight: 600;
    font-size: 2rem;
}

.home-text .play {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    right: 4rem;
}

.home-text .play .bx {
    background-color: var(--main-color-op);
    font-size: 3.5rem;
    border-radius: 50%;
    border: 3px solid rgb(2, 3, 7, 0.4);
    padding-left: 3px;
    color: var(--bg-color);
}

.home-text .play .bx:hover {
    transform: scale(1.1);
    background-color: var(--main-color);
}


/* movie layout section  */

.movies {
    color: var(--text-color);
    margin: 30px 0px;
}

.movies .header {
    font-size: 1.5rem;
    font-weight: 300;
    max-width: 968px;
    margin: 20px auto 15px auto;
    padding-bottom: 5px;
    border-bottom: 0.5px solid var(--main-color);
}

.movie-container {
    max-width: 968px;
    margin: 0px auto 5px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    /* grid-template-columns: auto auto auto auto; */
    gap: 1.5rem;
}

.box {
    margin-top: 10px;
}

.box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 3px;
    filter: brightness(0.7);
    transition: 0.8s;
}

.box-text h3 {
    font-size: 1rem;
    color: var(--text-color);
}

.box img:hover {
    filter: brightness(1);
    filter: drop-shadow(0px 10px 10px slategray);
    transform: translateY(-10px);
}


/* movie layout end  */


/* contact form start */

.contact {
    color: var(--text-color);
    max-width: 968px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.contact h1 {
    padding-bottom: 10px;
    text-align: center;
}

.contact form {
    display: flex;
    justify-content: center;
    background-color: var(--text-color);
    border-radius: 3px;
    width: 400px;
    padding: 10px;
}

.contact form .email {
    margin-right: 5px;
    width: 80%;
    border: none;
    outline: none;
    padding: 5px;
    background-color: var(--text-color);
}

.contact form .btn {
    font-size: 0.9rem;
    cursor: pointer;
}

.contact form .btn .bx-send {
    padding-left: 2px;
}


/* contact form end  */


/* footer section  */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 968px;
    margin: 80px auto 20px auto;
}

.footer a {
    color: var(--text-color);
}

.social {
    display: flex;
    gap: 1.3rem;
}

.social i {
    background-color: var(--main-color-op);
    color: var(--text-color);
    font-size: 2rem;
    border-radius: 30px;
    padding: 5px;
    border: 3px solid rgb(2, 3, 7, 0.4);
    transition: 0.2s ease-in;
}

.social i:hover {
    background-color: var(--main-color);
    transform: translateY(-5px);
}


/* copyright footer  */

.copyright {
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 0px;
    background-color: var(--main-color-op);
    display: flex;
    justify-content: center;
}

.copyright p span {
    margin-left: 5px;
}

@media (max-width:1080px) {
    header {
        padding: 0px 80px;
    }
    .nav-bar {
        column-gap: 3rem;
    }
    .nav-bar li a {
        font-size: 1.1rem;
    }
    .container {
        width: 100%;
        height: 500px;
    }
    .movies .header {
        max-width: 768px;
        font-size: 1.3rem;
    }
    .movie-container {
        max-width: 768px;
    }
    .footer {
        max-width: 768px;
    }
    .social i {
        font-size: 1.8rem;
    }
}

@media (max-width:900px) {
    header {
        padding: 0px 60px;
    }
    .nav-bar {
        column-gap: 1.5rem;
    }
    .nav-bar li a {
        font-size: 1.1rem;
    }
    .container {
        width: 100%;
        height: 400px;
    }
    .home-text {
        margin-left: 100px;
        margin-top: 150px;
    }
    .home-text span {
        font-size: 1.2rem;
    }
    .home-text h1 {
        font-size: 1.5rem;
    }
    .home-text .play {
        bottom: 8%;
        right: 4rem;
    }
    .home-text .btn button {
        font-size: 1.1rem;
    }
}

@media (max-width:800px) {
    header {
        padding: 0px 50px;
    }
    .nav-bar {
        column-gap: 1.5rem;
    }
    .nav-bar li a {
        font-size: 1rem;
    }
    header .logo {
        font-size: 1rem;
    }
    .btn button {
        font-size: 1rem;
    }
    .home-text .play .bx {
        font-size: 3rem;
    }
    .movies .header {
        max-width: 650px;
    }
    .movie-container {
        max-width: 650px;
    }
    .footer {
        max-width: 650px;
    }
    .footer .logo {
        font-size: 1.1rem;
    }
    .social i {
        font-size: 1.3rem;
    }
    .copyright {
        font-size: 1rem;
    }
}

@media (max-width:700px) {
    .movies .header {
        max-width: 500px;
        font-size: 1.2rem;
    }
    .movie-container {
        max-width: 500px;
    }
    .box-text h3 {
        font-size: .9rem;
    }
    .footer {
        max-width: 500px;
    }
    .social {
        gap: 1rem;
    }
    .social i {
        font-size: 1.2rem;
        padding: 4px;
    }
    .copyright {
        font-size: 1rem;
    }
}

@media (max-width:620px) {
    header {
        padding: 0px 40px;
    }
    .nav-bar {
        column-gap: .7rem;
        justify-content: center;
    }
    header .logo {
        font-size: .9rem;
    }
    header .btn button {
        font-size: .8rem;
    }
    .nav-bar li a {
        font-size: .9rem;
    }
    .container {
        width: 100%;
        height: 350px;
    }
    .home-text {
        margin-left: 50px;
        margin-top: 100px;
    }
    .home-text span {
        font-size: 1rem;
    }
    .home-text h1 {
        font-size: 1.3rem;
    }
    /* .home-text .play {
        bottom: 5%;
        right: 4rem;
    } */
    .home-text .btn button {
        font-size: 1rem;
    }
    .home-text .play .bx {
        font-size: 2.5rem;
    }
}

@media (max-width:580px) {
    header {
        padding: 0px 40px;
    }
    .nav-bar {
        display: none;
    }
    .container {
        width: 100%;
        height: 300px;
    }
    .home-text {
        margin-left: 50px;
        margin-top: 120px;
    }
    .home-text span {
        font-size: .8rem;
    }
    .home-text h1 {
        font-size: 1rem;
    }
    .home-text .play {
        bottom: 10%;
        right: 3rem;
    }
    .home-text .btn button {
        font-size: .8rem;
    }
    .home-text .play .bx {
        font-size: 2rem;
    }
    .movies .header {
        max-width: 420px;
        font-size: 1.2rem;
    }
    .movie-container {
        max-width: 420px;
    }
    .box-text h3 {
        font-size: .9rem;
    }
    .box-img img {
        width: 100%;
        height: 500px;
    }
    .footer {
        max-width: 420px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:470px) {
    header .logo {
        font-size: 15px;
    }
    header .btn button {
        font-size: .9rem;
    }
    .container {
        width: 100%;
        height: 250px;
    }
    .home-text {
        margin-left: 80px;
        margin-top: 80px;
    }
    .home-text span {
        font-size: .8rem;
    }
    .home-text h1 {
        font-size: 1rem;
    }
    .home-text .play {
        bottom: 10%;
        right: 2rem;
    }
    .home-text .btn button {
        font-size: .7rem;
    }
    .movies .header {
        max-width: 350px;
        font-size: 1.2rem;
    }
    .movie-container {
        max-width: 350px;
    }
    .box-text h3 {
        font-size: .9rem;
    }
    .box-img img {
        width: 100%;
        height: 500px;
    }
    .footer {
        max-width: 350px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer a {
        font-size: 1.1rem;
    }
    .social {
        gap: 1rem;
        margin-top: 10px;
        margin-left: 10px;
    }
    .social i {
        font-size: 1rem;
        padding: 4px;
    }
    .copyright {
        font-size: .8rem;
    }
    .contact {
        max-width: 350px;
    }
    .contact form {
        width: 300px;
    }
    .contact h1 {
        font-size: 1.2rem;
    }
    .contact form .btn {
        font-size: .8rem;
    }
}

@media (max-width:379px) {
    header {
        padding: 0px 20px;
    }
    .container {
        width: 100%;
        align-items: center;
    }
    .container img {
        width: 100%;
    }
    .movies .header {
        max-width: 300px;
        font-size: 1.2rem;
    }
    .movie-container {
        max-width: 300px;
    }
    .box-text h3 {
        font-size: .9rem;
    }
    .box-img img {
        width: 100%;
        height: 400px;
    }
    .footer {
        max-width: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer a {
        font-size: 1.1rem;
    }
    .social {
        gap: 1rem;
        margin-top: 10px;
        margin-left: 10px;
    }
    .social i {
        font-size: 1rem;
        padding: 4px;
    }
    .copyright {
        font-size: .8rem;
    }
    .contact {
        max-width: 300px;
    }
    .contact form {
        width: 300px;
    }
    .contact h1 {
        font-size: 1.2rem;
    }
    .contact form .btn {
        font-size: .8rem;
    }
}